{% extends 'HelpDeskBundle:Default:main.html.twig' %}

{% block title %}{{'help_desk.tickets.my_tickets'|trans}}{% endblock %}

{% block main_content %}
    <div class="row">
        <aside class="col-md-3 sidebar">
            {% include 'HelpDeskBundle:Client:menu.html.twig' %}
        </aside>
        <main class="col-md-9 ticket-list cf" id="articles-list">
            <h3 id="public_tickets">{{'help_desk.tickets.my_tickets'|trans}}</h3>
            <hr>
            {{ filters.showMessage('client_success_message', 'success')}}
            {{ filters.showMessage('client_error_message', 'danger')}}
            <div class="home-theme-filter" style="text-align: left; margin-bottom: 10px;">
                <a href="{{path('help_desk_client_tickets',{'status' : 'all'})}}" class="{% if status == 'all' %}active{% endif %} pjax">{{'help_desk.global.all'|trans|upper}}</a>
                <a href="{{path('help_desk_client_tickets',{'status' : 'active'})}}" class="{% if status == 'active' %}active{% endif %} pjax">{{'help_desk.global.active'|trans|upper}}</a>
                <a href="{{path('help_desk_client_tickets',{'status' : 'closed'})}}" class="{% if status == 'closed' %}active{% endif %} pjax">{{'help_desk.global.closed'|trans|upper}}</a>
                <a class="btn btn-success pull-right btn-color-white" href="{{path('help_desk_client_tickets_new')}}">{{'help_desk.ticket_creation.create_a_ticket'|trans|upper}}</a>
            </div>

            <article class="post full-width">

                {% if tickets|length > 0 %}
                    <table class="table table-striped">
                        {% for ticket in tickets %}
                            <tr>
                                <td width="280px">
                                    <label>{{'help_desk.global.ticket'|trans}} # {{ticket.id}}</label> 
                                    <p class="ticket-description"><small>{{'help_desk.tickets.creation_date'|trans}} : </small>{{ticket.creationDate|date('d/m/Y h:i a')}}</p>
                                    <p class="ticket-description"><small>{{'help_desk.tickets.priority'|trans}} : </small> 
                                        <label class="label {{ticket.getLabelClassByPriority()}}">{{ticket.textPriority()|trans}}</label>
                                    </p>
                                    {% if ticket.lastUpdate is not empty %}
                                        <p class="ticket-description"><small>{{'help_desk.tickets.last_update'|trans}} : </small> {{ticket.lastUpdate|date('d/m/Y h:i a')}}</p>
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="ticket-description"><small>{{'help_desk.tickets.subject'|trans}} : </small> {{ticket.subject}}</p>
                                    <p class="ticket-description"><small>{{'help_desk.tickets.category'|trans}} : </small> {{ticket.category.name}}</p>
                                    <p class="ticket-description"><small>{{'help_desk.tickets.status'|trans}} : </small> 
                                        <label class="label {{ticket.getLabelClassByStatus()}}">{{ticket.textStatus()|trans}}</label>
                                    </p>
                                    {% if ticket.operatorId is not empty %}
                                        <p class="ticket-description"><small>{{'help_desk.tickets.operator'|trans}} : </small> {{ticket.operator.name|default('Not Assigned')}}</p>
                                    {% endif %}
                                    
                                </td>
                                <td class="ticket-options" width="110px">
                                    <a class="btn btn-sm" href="{{path('help_desk_client_tickets_view',{'id':ticket.id})}}"><i class="fa fa-eye"></i> {{'help_desk.global.view'|trans}}</a><br>
                                    
                                    {% if ticket.status != constant('Kijho\\HelpDeskBundle\\Entity\\Ticket::STATUS_CLOSED') %}
                                        <a class="btn btn-sm"><i class="fa fa-times"></i> {{'help_desk.global.close'|trans}}</a><br>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>{{'help_desk.tickets.empty_list'|trans}}</p>
                {% endif %}
            </article>
        </main>
    </div><!-- row -->
{% endblock %}