{% extends 'HelpDeskBundle:Client:main.html.twig' %}

{% block title %}{{'help_desk.ticket_creation.create_a_ticket'|trans}}{% endblock %}

{% block main_content %}
    <div class="row">
        <aside class="col-md-3 sidebar">
            {% include 'HelpDeskBundle:Client:menu.html.twig' %}
        </aside>
        <main class="col-md-9 cf create_ticket" id="articles-list">
            <article class="post full-width">
                <h1 class="create_ticket">{{'help_desk.ticket_creation.create_a_ticket'|trans}}
                    <span class="pull-right"></span>
                </h1>
                {{ filters.showMessage('client_error_message', 'danger')}}
                {{ form_start(form, {'action': '', 'method': 'POST'}) }}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_label(form.subject)}} <em>*</em>
                                {{ form_widget(form.subject, {'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.subject) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_label(form.category)}} <em>*</em>
                                {{ form_widget(form.category, {'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.category) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.priority)}} <em>*</em>
                                {{ form_widget(form.priority, {'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.priority) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.body)}} <em>*</em>
                        {{ form_widget(form.body, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.body) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.submit, {'attr':{'class':'btn btn-success btn-color-white'}}) }}
                    </div>
                {{ form_end(form) }}

            </article>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    tynyMceToElement('textarea', 200);
{% endblock %}