{% extends 'HelpDeskBundle:Default:main.html.twig' %}

{% block title %}{{'help_desk.global.ticket'|trans}} # {{ticket.id}} ({{ticket.textStatus()|trans}}){% endblock %}

{% block main_content %}
    <div class="row">
        <aside class="col-md-3 sidebar">
            {% include 'HelpDeskBundle:Client:menu.html.twig' %}
        </aside>
        <main class="col-md-9 cf create_ticket" id="articles-list">
            <article class="post full-width">
                <h1 class="create_ticket">{{'help_desk.global.ticket'|trans}} # {{ticket.id}} ({{ticket.textStatus()|trans}})
                    {#<span class="pull-right"></span>#}
                    {% if ticket.status != constant('Kijho\\HelpDeskBundle\\Entity\\Ticket::STATUS_CLOSED') %}
                        <a class="btn btn-sm btn-danger close-ticket pull-right" ticket-id="{{ticket.id}}" style="font-size: 12px;">{{'help_desk.global.close'|trans}}</a>
                    {% endif %}
                </h1>
                {{ filters.showMessage('client_success_message', 'success')}}
                {{ filters.showMessage('client_error_message', 'danger')}}
                <table class="table table-striped">
                    <tr>
                        <td width="350px">
                            <label>{{'help_desk.global.ticket'|trans}} # {{ticket.id}}</label> 
                            <br>
                            <p class="ticket-description"><small>{{'help_desk.tickets.creation_date'|trans}} : </small>{{ticket.creationDate|date('d/m/Y h:i a')}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.priority'|trans}} : </small> 
                                <label class="label {{ticket.getLabelClassByPriority()}}">{{ticket.textPriority()|trans}}</label>
                            </p>
                            {% if ticket.lastUpdate is not empty %}
                                <p class="ticket-description"><small>{{'help_desk.tickets.last_update'|trans}} : </small> {{ticket.lastUpdate|date('d/m/Y h:i a')}}</p>
                            {% endif %}
                        </td>
                        <td>
                            <p class="ticket-description"><small>{{'help_desk.tickets.subject'|trans}} : </small> {{ticket.subject}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.category'|trans}} : </small> {{ticket.category.name}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.status'|trans}} : </small> 
                                <label class="label {{ticket.getLabelClassByStatus()}}">{{ticket.textStatus()|trans}}</label>
                            </p>
                            {% if ticket.operatorId is not empty %}
                                <p class="ticket-description"><small>{{'help_desk.tickets.operator'|trans}} : </small> {{ticket.operator.name|default('Not Assigned')}}</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #d5e4df;">
                            <p class="ticket-description"><small>{{'help_desk.tickets.subject'|trans}} : </small> {{ticket.subject}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.message'|trans}} : </small></p>
                            {{ticket.body|raw}}
                        </td>
                    </tr>
                </table>
                            
                <div class="row">
                    <div id="comment_list">
                        {% if comments|length == 0 %}
                            <div class="comments-heading"><span>{{'help_desk.ticket_comment.leave_comment'|trans}}</span></div>
                        {% else %}
                            <div class="comments-heading"><span>{{'help_desk.ticket_comment.comments'|trans}} ({{comments|length}})</span></div>
                        {% endif %}
                        <ol class="commentlist">
                            {% for comment in comments %}
                                {% set commentByClient = false %}
                                {% if comment.type == constant('Kijho\\HelpDeskBundle\\Entity\\TicketComment::COMMENT_BY_CLIENT') %}
                                    <ul class="children">
                                    {% set commentByClient = true %}
                                {% endif %}
                                    
                                <li id="comment-{{comment.id}}" class="comment even thread-even depth-1 parent">
                                    <div class="comment-body {% if commentByClient == true %}client-bg-color{% endif %}" id="div-comment-{{comment.id}}">
                                        <div class="comment-author vcard">
                                            {% if commentByClient == true %}
                                                <cite class="fn">{{comment.client}}</cite> 
                                            {% else %}
                                                <cite class="fn">{{comment.operator}}</cite>     
                                            {% endif %}
                                            <span class="says">{{'help_desk.ticket_comment.says'|trans}}:</span>		
                                        </div>

                                        <div class="comment-meta commentmetadata">
                                            <a href="#comment-{{comment.id}}">
                                                {{comment.creationDate|date('M d, Y - h:i a')}}
                                            </a>
                                        </div>

                                        <p>{{comment.comment|raw}}</p>
                                        
                                        {% if loop.index == comments|length and commentByClient == false 
                                            and ticket.status != constant('Kijho\\HelpDeskBundle\\Entity\\Ticket::STATUS_CLOSED') %}
                                            <div class="reply pull-right {% if comment.isReaded %}margin-negative{% endif %}">
                                                <a aria-label="Reply to Chris" href="javascript:void(0);" class="comment-reply-link" rel="nofollow" title="{{'help_desk.ticket_comment.reply'|trans}}"><i class="fa fa-reply"></i></a>		
                                            </div>
                                        {% endif %}
                                            
                                        {% if comment.isReaded %}
                                            <span class="pull-right readed-msg">{{'help_desk.ticket_comment.readed'|trans}} - {{comment.readedDate|date('M d, Y - h:i a')}}</span>
                                        {% endif %}
                                    </div>
                                </li>
                                
                                {% if commentByClient == true %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                            
                            {% if ticket.status != constant('Kijho\\HelpDeskBundle\\Entity\\Ticket::STATUS_CLOSED') %}
                            <div class="row reply-container">
                                {{ form_start(form_comment, {'action': '', 'method': 'POST', 'attr':{'id':'form-new-comment'} }) }}
                                    <div class="form-group">
                                        {{ form_label(form_comment.comment)}} <em>*</em>
                                        {{ form_widget(form_comment.comment, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form_comment.comment) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form_comment.closeTicket, ' ', {'label_attr':{'class':'hidden'}})}}
                                        <div class="checkbox" style="width: 50%; float: left;">
                                            <label>
                                                {{ form_widget(form_comment.closeTicket, {'attr':{'class':''}}) }} {{'help_desk.ticket_comment.close_ticket'|trans}}
                                            </label>
                                        </div>
                                        {{ form_errors(form_comment.closeTicket) }}
                                        {{ form_widget(form_comment.submit, {'attr':{'class':'btn btn-success btn-color-white pull-right'}}) }}
                                    </div>
                                {{ form_end(form_comment) }}
                            </div>
                            {% endif %}
                        </ol>
                    </div>
                </div>
                
            </article>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    
    $(".close-ticket").click(function(){
       var object = $(this);
       var ticketId = object.attr('ticket-id');
       
       
       bootbox.confirm({
            message: "{{'help_desk.tickets.close_warning'|trans}}",
            buttons: {
                'cancel': {
                    label: '{{'help_desk.global.cancel' | trans}}',
                    className: 'btn-default'
                },
                'confirm': {
                    label: '{{'help_desk.ticket_comment.close_ticket' | trans}}',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result == true)
                {
                    object.attr('disabled','disabled');
                    object.html("{{'help_desk.tickets.closing'|trans}}");
                    $.ajax({
                        type: 'POST',
                        url: "{{path('help_desk_client_tickets_close')}}",
                        dataType: 'json',
                        data: {ticketId: ticketId},
                        success: function (r)
                        {
                            object.removeAttr('disabled');
                            if (r.result == '__OK__') {
                                window.location.reload();
                            } else {
                                bootbox.alert(r.msg);
                                object.html("{{'help_desk.ticket_comment.close_ticket'|trans}}");
                            }
                        },
                        error: function (r)
                        {
                            object.removeAttr('disabled');
                            object.html("{{'help_desk.ticket_comment.close_ticket'|trans}}");
                            bootbox.alert("{{'help_desk.global.unknown_error'|trans}}")
                        }
                    });
                }
            }
        });
    });
    
    $(".comment-reply-link").click(function() {
        $("#helpdeskbundle_client_ticket_comment_type_comment").focus();
    });
    
    $("#form-new-comment").submit(function () {
        $("#helpdeskbundle_client_ticket_comment_type_submit").attr('disabled', 'disabled');
        $("#helpdeskbundle_client_ticket_comment_type_submit").html("{{'help_desk.global.please_wait'|trans}}");
        
    });
    $("#helpdeskbundle_client_ticket_comment_type_submit").removeAttr('disabled');
{% endblock %}