{% extends 'HelpDeskBundle:Default:main.html.twig' %}

{% block title %}{{'help_desk.global.ticket'|trans}} # {{ticket.id}} ({{ticket.textStatus()|trans}}){% endblock %}

{% block main_content %}
    <div class="row">
        <aside class="col-md-3 sidebar">
            {% include 'HelpDeskBundle:Operator:menu.html.twig' %}
        </aside>
        <main class="col-md-9 cf create_ticket" id="articles-list">
            <article class="post full-width">
                <h1 class="create_ticket">{{'help_desk.global.ticket'|trans}} # {{ticket.id}} ({{ticket.textStatus()|trans}})
                    <span class="pull-right"></span>
                </h1>
                {{ filters.showMessage('operator_success_message', 'success')}}
                {{ filters.showMessage('operator_error_message', 'danger')}}
                <table class="table table-striped">
                    <tr>
                        <td width="350px">
                            <label>{{'help_desk.global.ticket'|trans}} # {{ticket.id}}</label> 
                            <p class="ticket-description"><small>{{'help_desk.tickets.client'|trans}} : </small> {{ticket.client.name|title}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.creation_date'|trans}} : </small>{{ticket.creationDate|date('d/m/Y h:i a')}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.priority'|trans}} : </small> 
                                <label class="label {{ticket.getLabelClassByPriority()}}">{{ticket.textPriority()|trans}}</label>
                            </p>
                            {% if ticket.lastUpdate is not empty %}
                                <p class="ticket-description"><small>{{'help_desk.tickets.last_update'|trans}} : </small> {{ticket.lastUpdate|date('d/m/Y h:i a')}}</p>
                            {% endif %}
                        </td>
                        <td>
                            <p class="ticket-description"><small>{{'help_desk.tickets.subject'|trans}} : </small> {{ticket.subject}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.email'|trans}} : </small> {{ticket.client.email|lower}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.category'|trans}} : </small> {{ticket.category.name}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.status'|trans}} : </small> 
                                <label class="label {{ticket.getLabelClassByStatus()}}">{{ticket.textStatus()|trans}}</label>
                            </p>
                            {% if ticket.operatorId is not empty %}
                                <p class="ticket-description"><small>{{'help_desk.tickets.operator'|trans}} : </small> {{ticket.operator.name|default('Not Assigned')}}</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #d5e4df;">
                            <p class="ticket-description"><small>{{'help_desk.tickets.subject'|trans}} : </small> {{ticket.subject}}</p>
                            <p class="ticket-description"><small>{{'help_desk.tickets.message'|trans}} : </small></p>
                            {{ticket.body|raw}}
                        </td>
                    </tr>
                </table>
                            
                <div class="row">
                    <div id="comment_list">
                        {% if comments|length == 0 %}
                            <div class="comments-heading"><span>{{'help_desk.ticket_comment.leave_comment'|trans}}</span></div>
                        {% else %}
                            <div class="comments-heading"><span>{{'help_desk.ticket_comment.comments'|trans}} ({{comments|length}})</span></div>
                        {% endif %}
                        <ol class="commentlist">
                            {% for comment in comments %}
                                {% set commentByAdmin = false %}
                                {% if comment.type == constant('Kijho\\HelpDeskBundle\\Entity\\TicketComment::COMMENT_BY_ADMIN') %}
                                    <ul class="children">
                                    {% set commentByAdmin = true %}
                                {% endif %}
                                    
                                <li id="comment-{{comment.id}}" class="comment even thread-even depth-1 parent">
                                    <div class="comment-body {% if commentByAdmin == true %}client-bg-color{% endif %}" id="div-comment-{{comment.id}}">
                                        <div class="comment-author vcard">
                                            {% if commentByAdmin == true %}
                                                <cite class="fn">{{comment.operator}}</cite> 
                                            {% else %}
                                                <cite class="fn">{{comment.client}}</cite> 
                                            {% endif %}
                                            <span class="says">{{'help_desk.ticket_comment.says'|trans}}:</span>		
                                        </div>

                                        <div class="comment-meta commentmetadata">
                                            <a href="#comment-{{comment.id}}">
                                                {{comment.creationDate|date('M d, Y - h:i a')}}
                                            </a>
                                        </div>

                                        <p>{{comment.comment|raw}}</p>
                                        
                                        {% if loop.index == comments|length and commentByAdmin == false 
                                                and ticket.status != constant('Kijho\\HelpDeskBundle\\Entity\\Ticket::STATUS_CLOSED') %}
                                            <div class="reply pull-right {% if comment.isReaded %}margin-negative{% endif %}">
                                                <a aria-label="Reply to Chris" href="javascript:void(0);" class="comment-reply-link" rel="nofollow" title="{{'help_desk.ticket_comment.reply'|trans}}"><i class="fa fa-reply"></i></a>		
                                            </div>
                                        {% endif %}
                                            
                                        {% if comment.isReaded %}
                                            <span class="pull-right readed-msg">{{'help_desk.ticket_comment.readed'|trans}} - {{comment.readedDate|date('M d, Y - h:i a')}}</span>
                                        {% endif %}
                                    </div>
                                </li>
                                
                                {% if commentByAdmin == true %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                            
                            {% if ticket.status != constant('Kijho\\HelpDeskBundle\\Entity\\Ticket::STATUS_CLOSED') %}
                            <div class="row reply-container">
                                {{ form_start(form_comment, {'action': '', 'method': 'POST', 'attr':{'id':'form-new-comment'} }) }}
                                    <div class="form-group">
                                        {{ form_label(form_comment.comment)}} <em>*</em>
                                        {{ form_widget(form_comment.comment, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form_comment.comment) }}
                                        {% if comments|length == 0 %}
                                            <p class="ticket-description">{{'help_desk.ticket_comment.advertisement_first_message'|trans}} "{{'help_desk.tickets.status_replied'|trans}}"</p>
                                        {% endif %}
                                        
                                        {% if ticket.operatorId is not empty and comments|length > 0 and ticket.operatorId != app.user.id %}
                                            * {{'help_desk.ticket_comment.advertisement_reassigment_first'|trans}} <strong>{{ticket.operator.name}}</strong>. {{'help_desk.ticket_comment.advertisement_reassigment_second'|trans}}
                                        {% endif %}
                                        
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form_comment.submit, {'attr':{'class':'btn btn-success btn-color-white pull-right'}}) }}
                                    </div>
                                {{ form_end(form_comment) }}
                            </div>
                            {% endif %}
                        </ol>
                    </div>
                </div>
                
            </article>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    
    $(".comment-reply-link").click(function() {
        $("#helpdeskbundle_operator_ticket_comment_type_comment").focus();
    });
    
    
    $("#form-new-comment").submit(function () {
        $("#helpdeskbundle_operator_ticket_comment_type_submit").attr('disabled', 'disabled');
        $("#helpdeskbundle_operator_ticket_comment_type_submit").html("{{'help_desk.global.please_wait'|trans}}");
        
    });
    $("#helpdeskbundle_operator_ticket_comment_type_submit").removeAttr('disabled');
{% endblock %}