{% extends 'HelpDeskBundle:Client:main.html.twig' %}

{% block main_content %}
<div class="col-md-4 col-md-offset-4" id="signup_wrapper">
    <header class="form_header">
        <h3>{{'help_desk.login.welcome'|trans}}</h3>
        <p>{{'help_desk.login.login_message'|trans}}</p>
    </header>
    <div id="signup_box">
        {% if error %}
            <div class="alert alert-danger alert-dismissable">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{path('help_desk_login_check')}}" role="form" method="post" id="wagon_login_form">
            <div class="form-group">
                <label for="email">{{'help_desk.login.email'|trans}} *</label>
                <input type="text" placeholder="{{'help_desk.login.email'|trans|lower}}" class="form-control" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="first_name">{{'help_desk.login.password'|trans}} *</label>
                <input class="form-control" type="password" placeholder="{{'help_desk.login.password'|trans|lower}}" id="password" name="_password">
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-success btn-lg" value="{{'help_desk.login.login'|trans}}" id="login_submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}